<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <title>Gaboso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#4CAF50">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href=css/style.css>
    <script src="js/angular.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script src="js/controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="homeCtrl">

<div class="container">

    <div class="row">

        <div class="card">
            <div class="card-image">
                <img alt="{{baseData.name}}" ng-src="{{baseData.avatar_url}}" class="profile-image">
            </div>
            <div>
                <div class="card-title" style="text-align: center">
                    <a target="_blank" href="{{baseData.html_url}}">{{baseData.name}}</a>
                </div>
                <div class="card-content">
                    <div ng-if="baseData.bio">{{baseData.bio}}</div>
                    <div ng-if="baseData.location"><i class="fa fa-map-marker"></i> {{baseData.location}}</div>
                    <div ng-if="baseData.company">{{baseData.company}}</div>
                    <div ng-if="baseData.blog"><i class="fa fa-rss"></i> {{baseData.blog}}</div>
                    <div ng-if="baseData.email"><i class="fa fa-envelope-o"></i> {{baseData.email}}</div>
                    <div ng-if="baseData.followers">Followers: {{baseData.followers}}</div>
                    <div ng-if="baseData.following">Following: {{baseData.following}}</div>
                </div>
            </div>
        </div>

    </div>

    <p>Repositories</p>

    <div class="row" ng-repeat="repository in repositories">
        <div class="card">
            <span class="card-title padding-title">{{repository.name}}</span>

            <div class="card-content">

                <p>{{repository.description}}</p>

                <div>
                    Language: <strong>{{repository.language}}</strong>
                </div>

                <div ng-if="repository.fork">
                    <i class="fa fa-code-fork"></i> Is a Fork
                </div>

                <div ng-if="repository.open_issues > 0">
                    <i class="fa fa-bug"></i> Open Issues: <strong>{{repository.open_issues}}</strong>
                </div>

                <div class="card-action">
                    <a href="{{repository.html_url}}" target="_blank">
                        Repository Link
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>


</body>

</html>
